
<table class="table-condensed">
    <tr>
        <td>Расчет площади треугольника</td>
        <td>Хочу книгу</td>

        <td></td>
    </tr>

    <tr>
        <td><a href="~/Home/Area">площадь</a></td>
        <td><a href="~/Home/GetFile">Книга</a></td>
    </tr>
</table>

