<form method="post" controller="home" action="AddServiceReview">
    <tr>
        <td>Name:</td>
        <td><input type="text" name="name" /></td>

    </tr>
    <tr>
        <td>Mark:</td>
        <td><input type="text" name="mark" /> </td>

    </tr>
    <td><input type="submit" class="btn btn-default" value="отправить" /></td>
</form>