@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Вход в систему</title>
</head>
<body>
    <div>
        <p>Для входа заполните следующие поля:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Логин:</td>
                    <td><input type="text" name="Nickname" /> </td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type="text" name="Password" /></td>
                </tr>
                <tr><td><input type="submit" value="Войти" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>