@model IEnumerable<ServerUser.Models.User>
@{
    ViewData["Title"] = "ррр";
}
<table class="table-condensed">
    <tr>
        <td>Уже зарегистрирован</td>
        <td>Хочу зарегистрироваться</td>

        <td></td>
    </tr>

    <tr>
        <td><a href="~/Home/Authentication">Вход</a></td>
        <td><a href="~/Home/Authorization">Регистрация</a></td>
    </tr>
</table>