@page
@model Chapter18.Pages.PersonModel
@{
    ViewData["Title"] = "Register";
}
<h2>@Model.Message</h2>
<form method="post" asp-antiforgery="true">
    <label for="name">Name</label><br />
    <input type="text" name="name"/><br />
    <label for="age">Age</label><br />
    <input type="number" name="age" /><br />
    <input type="submit" value="Send" />
</form>
